# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
x64/Debug/DualSens.2008fc36.tlog/CL.command.1.tlog
x64/Debug/DualSens.2008fc36.tlog/Cl.items.tlog
x64/Debug/DualSens.2008fc36.tlog/CL.read.1.tlog
x64/Debug/DualSens.2008fc36.tlog/CL.write.1.tlog
x64/Debug/DualSens.2008fc36.tlog/DualSenseToXInput.lastbuildstate
x64/Debug/DualSens.2008fc36.tlog/link.command.1.tlog
x64/Debug/DualSens.2008fc36.tlog/link.read.1.tlog
x64/Debug/DualSens.2008fc36.tlog/link.write.1.tlog
x64/Debug/DualSenseToXInput.exe.recipe
x64/Debug/DualSenseToXInput.ilk
x64/Debug/DualSenseToXInput.pdb
x64/Debug/DualSenseToXInput.vcxproj.FileListAbsolute.txt
x64/Debug/vc143.idb
x64/Debug/vc143.pdb
.vs/DualSenseToXInput/v17/ipch/AutoPCH/e85aef4fe5fb6729/MAIN.ipch
.vs/DualSenseToXInput/v17/Browse.VC.db
.vs/DualSenseToXInput/v17/.suo
.vs/DualSenseToXInput/FileContentIndex/8cfa1f43-93c7-438e-aacd-77534a770ccd.vsidx
.vs/DualSenseToXInput/FileContentIndex/1769dbb8-55d3-4591-ade3-7fd32b55c7ca.vsidx
.vs/DualSenseToXInput/FileContentIndex/08a1155e-eb8f-48ca-b1a7-53aa9fed8763.vsidx
.vs/DualSenseToXInput/FileContentIndex/211dfd20-e304-45a0-b5f7-7d2e7a539aa9.vsidx
.vs/DualSenseToXInput/FileContentIndex/7132056e-6eef-4fa9-b718-a73f4c4acd3a.vsidx
.vs/DualSenseToXInput/FileContentIndex/72bba46e-2728-4942-b114-3f6d66398841.vsidx
.vs/DualSenseToXInput/FileContentIndex/b265b76b-4c4b-4c23-8c67-f490b5f1fc38.vsidx
.vs/DualSenseToXInput/FileContentIndex/e69881ea-679d-429d-885e-18606eed7f5c.vsidx
.vs/DualSenseToXInput/v17/Browse.VC.db-shm
.vs/DualSenseToXInput/v17/Browse.VC.db-wal
.vs/DualSenseToXInput/v17/Browse.VC.opendb
.vs/DualSenseToXInput/v17/ipch/AutoPCH/1b6de45c2b9b17fc/XINPUT.ipch
.vs/DualSenseToXInput/v17/ipch/AutoPCH/37ed335368c85a3e/DEVICE.ipch
.vs/DualSenseToXInput/v17/ipch/AutoPCH/501db1f55411d2e8/XINPUT_WRAPPER.ipch
.vs/DualSenseToXInput/v17/ipch/AutoPCH/5f16417bb403f51b/BENCHMARK.ipch
.vs/DualSenseToXInput/v17/ipch/AutoPCH/6ac32fa8188d2fb7/TMPC7B6.TMP.ipch
.vs/DualSenseToXInput/v17/ipch/AutoPCH/751bda314191457d/XBOXCONTROLLER.ipch
.vs/DualSenseToXInput/v17/ipch/AutoPCH/aa016603614f6fbe/DRIVER.ipch
.vs/DualSenseToXInput/v17/ipch/AutoPCH/ac911c72b8cedd8/VIGEMCLIENT.ipch
.vs/DualSenseToXInput/v17/ipch/AutoPCH/ae1578b321067a72/DEVICE.ipch
.vs/DualSenseToXInput/v17/ipch/AutoPCH/b00b3416cb38790d/XINPUTINTERFACE.ipch
.vs/DualSenseToXInput/v17/ipch/AutoPCH/b566acc2030ca608/DRIVER.ipch
.vs/DualSenseToXInput/v17/ipch/AutoPCH/c3634e9cd0e16c90/BENCHMARK.ipch
.vs/DualSenseToXInput/v17/ipch/AutoPCH/ce9fe2df2d6da513/MAIN.ipch
.vs/DualSenseToXInput/v17/ipch/AutoPCH/d1a569c022120840/XINPUT.ipch
.vs/DualSenseToXInput/v17/ipch/AutoPCH/d2a39b988dd3c76f/XINPUT.ipch
.vs/DualSenseToXInput/v17/ipch/AutoPCH/da91ebf5cfabd868/VCTMP11256_107075.MAIN.00000000.ipch
.vs/DualSenseToXInput/v17/ipch/AutoPCH/e5016410e3d8c3c9/QUEUE.ipch
.vs/DualSenseToXInput/v17/ipch/AutoPCH/ed0056e4a74d3359/VCTMP3204_207995.MAIN.00000000.ipch
.vs/DualSenseToXInput/v17/ipch/AutoPCH/f26eb9c8df9692ca/DRIVER.ipch
x64/Debug/DualSenseToXInput.Build.CppClean.log
x64/Debug/DualSenseToXInput.exe.orig
x64/Debug/main.obj.enc
x64/Debug/X360Advance.ini
x64/Debug/XboxDriver.cer
x64/Debug/XboxDriver.inf
x64/Debug/XboxDriver.sys
x64/Release/DualSens.2008fc36.tlog/CL.command.1.tlog
x64/Release/DualSens.2008fc36.tlog/CL.read.1.tlog
x64/Release/DualSens.2008fc36.tlog/link.command.1.tlog
x64/Release/DualSens.2008fc36.tlog/link.read.1.tlog
x64/Release/DualSens.2008fc36.tlog/link.write.1.tlog
x64/Release/DualSenseToXInput.Build.CppClean.log
x64/Release/DualSenseToXInput.iobj
x64/Release/DualSenseToXInput.ipdb
x64/Release/DualSenseToXInput.pdb
x64/Release/vc143.pdb
x64/Debug/main.obj.enc
x64/Release/DualSens.2008fc36.tlog/CL.command.1.tlog
x64/Release/DualSens.2008fc36.tlog/CL.read.1.tlog
x64/Release/DualSens.2008fc36.tlog/link.command.1.tlog
x64/Release/DualSens.2008fc36.tlog/link.read.1.tlog
x64/Release/DualSens.2008fc36.tlog/link.write.1.tlog
x64/Release/DualSenseToXInput.iobj
x64/Release/DualSenseToXInput.ipdb
x64/Release/DualSenseToXInput.pdb
x64/Release/vc143.pdb
x64/Debug/main.obj.enc
x64/Release/DualSens.2008fc36.tlog/CL.command.1.tlog
x64/Release/DualSens.2008fc36.tlog/CL.read.1.tlog
x64/Release/DualSens.2008fc36.tlog/link.command.1.tlog
x64/Release/DualSens.2008fc36.tlog/link.read.1.tlog
x64/Release/DualSens.2008fc36.tlog/link.write.1.tlog
x64/Release/DualSenseToXInput.iobj
x64/Release/DualSenseToXInput.ipdb
x64/Release/DualSenseToXInput.pdb
x64/Release/vc143.pdb
x64/Debug/main.obj.enc
*.enc
.vs/DualSenseToXInput/FileContentIndex/6e4672e5-f0a4-414e-a9f7-6a0a2cb1db2a.vsidx
.vs/DualSenseToXInput/FileContentIndex/a06815c7-44d4-419d-8f46-71363b2f7486.vsidx
.vs/DualSenseToXInput/v17/ipch/AutoPCH/46258102d30fe4b9/VCTMP29184_161677.MAIN.00000000.ipch
.vs/DualSenseToXInput/v17/ipch/AutoPCH/6989228c1a35e7a6/VCTMP11040_799237.MAIN.00000000.ipch
.vs/DualSenseToXInput/v17/ipch/AutoPCH/a5cfb464e659a3a3/UTIL.ipch
.vs/DualSenseToXInput/v17/ipch/AutoPCH/ce9fe2df2d6da513/MAIN.ipch
x64/Release/DualSens.2008fc36.tlog/CL.command.1.tlog
x64/Release/DualSens.2008fc36.tlog/CL.read.1.tlog
x64/Release/DualSens.2008fc36.tlog/link.command.1.tlog
x64/Release/DualSens.2008fc36.tlog/link.read.1.tlog
x64/Release/DualSens.2008fc36.tlog/link.write.1.tlog
x64/Release/DualSenseToXInput.iobj
x64/Release/DualSenseToXInput.ipdb
x64/Release/DualSenseToXInput.pdb
x64/Release/vc143.pdb
x64/Release/DualSens.2008fc36.tlog/CL.command.1.tlog
x64/Release/DualSens.2008fc36.tlog/CL.read.1.tlog
x64/Release/DualSens.2008fc36.tlog/link.command.1.tlog
x64/Release/DualSens.2008fc36.tlog/link.read.1.tlog
x64/Release/DualSens.2008fc36.tlog/link.write.1.tlog
x64/Release/DualSenseToXInput.iobj
x64/Release/DualSenseToXInput.ipdb
x64/Release/DualSenseToXInput.pdb
x64/Release/vc143.pdb
.vs/DualSenseToXInput/v17/ipch/AutoPCH/ce9fe2df2d6da513/MAIN.ipch
x64/Release/DualSens.2008fc36.tlog/CL.command.1.tlog
x64/Release/DualSens.2008fc36.tlog/Cl.items.tlog
x64/Release/DualSens.2008fc36.tlog/CL.read.1.tlog
x64/Release/DualSens.2008fc36.tlog/CL.write.1.tlog
x64/Release/DualSens.2008fc36.tlog/link.command.1.tlog
x64/Release/DualSens.2008fc36.tlog/link.read.1.tlog
x64/Release/DualSens.2008fc36.tlog/link.write.1.tlog
x64/Release/DualSenseToXInput.iobj
x64/Release/DualSenseToXInput.ipdb
x64/Release/DualSenseToXInput.pdb
x64/Release/vc143.pdb
x64/Release/DualSens.2008fc36.tlog/CL.command.1.tlog
x64/Release/DualSens.2008fc36.tlog/Cl.items.tlog
x64/Release/DualSens.2008fc36.tlog/CL.read.1.tlog
x64/Release/DualSens.2008fc36.tlog/CL.write.1.tlog
x64/Release/DualSens.2008fc36.tlog/link.command.1.tlog
x64/Release/DualSens.2008fc36.tlog/link.read.1.tlog
x64/Release/DualSens.2008fc36.tlog/link.write.1.tlog
x64/Release/DualSenseToXInput.iobj
x64/Release/DualSenseToXInput.ipdb
x64/Release/DualSenseToXInput.pdb
x64/Release/vc143.pdb
*.pdb
*.tlog
.vs/DualSenseToXInput/FileContentIndex/a01d4a7c-b213-42bf-84ac-6d9eda6e4ba4.vsidx
.vs/DualSenseToXInput/v17/ipch/AutoPCH/84df7d2b73eb2035/UTIL.ipch
.vs/DualSenseToXInput/v17/ipch/AutoPCH/ce9fe2df2d6da513/MAIN.ipch
.vs/DualSenseToXInput/v17/ipch/AutoPCH/ce9fe2df2d6da513/MAIN.ipch
