# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
x64/Debug/DualSens.2008fc36.tlog/CL.command.1.tlog
x64/Debug/DualSens.2008fc36.tlog/Cl.items.tlog
x64/Debug/DualSens.2008fc36.tlog/CL.read.1.tlog
x64/Debug/DualSens.2008fc36.tlog/CL.write.1.tlog
x64/Debug/DualSens.2008fc36.tlog/DualSenseToXInput.lastbuildstate
x64/Debug/DualSens.2008fc36.tlog/link.command.1.tlog
x64/Debug/DualSens.2008fc36.tlog/link.read.1.tlog
x64/Debug/DualSens.2008fc36.tlog/link.write.1.tlog
x64/Debug/DualSenseToXInput.exe.recipe
x64/Debug/DualSenseToXInput.ilk
x64/Debug/DualSenseToXInput.pdb
x64/Debug/DualSenseToXInput.vcxproj.FileListAbsolute.txt
x64/Debug/vc143.idb
x64/Debug/vc143.pdb
.vs/DualSenseToXInput/v17/ipch/AutoPCH/e85aef4fe5fb6729/MAIN.ipch
.vs/DualSenseToXInput/v17/Browse.VC.db
.vs/DualSenseToXInput/v17/.suo
.vs/DualSenseToXInput/FileContentIndex/8cfa1f43-93c7-438e-aacd-77534a770ccd.vsidx
.vs/DualSenseToXInput/FileContentIndex/1769dbb8-55d3-4591-ade3-7fd32b55c7ca.vsidx
